body
{
  margin: 0;
}

/* Nav CSS */
.nav
{
  width: 100%;
  height: 6%;
  background: #171717;
}

.logo
{
  width: 100px;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;

}


.main
{
  width: 100%;
  height:90%;
  background: #171717;
  overflow-x: hidden;
}

.bottomNav
{
  width: 100%;
  height:4%;
  background: black;
}

/* Editor Area */

.editorArea{
  width: 82%;
  height: 100%;
  float: right;
  border-left: 1px solid #333333;
  position: relative;
  display: flex;
flex-wrap: wrap;
flex-direction: column;


}
.editor{
  float: left;
  border-right: 1px solid #333333;
  display: flex;
  flex-flow: column;
  overflow: hidden;

}
.editor .editorTab
{
  width: 100%;
  height: 26px;
  background: #232323;

}
.editor .editArea
{
  width: 100%;
  flex:1;
  overflow: auto;
  position: relative;


}


.editor textarea{
  width: 100%;
  height: 100%;

}

.editArea::-webkit-scrollbar {
  width: 8px;
}
.editArea::-webkit-scrollbar-track {
  background: #171717;
}
.editArea::-webkit-scrollbar-thumb {
  background: #3a3838;
}
.editArea::-webkit-scrollbar-thumb:hover {
  background: #171717;
}

.tab_box
{
  position: relative;
  padding: 7px 20px;
    color: white;
    float: left;
    max-height: 100%;
    font-size: 11px;
    font-family: sans-serif;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
              -webkit-animation-name: bottomToTop;
            -webkit-animation-duration: 0.2s;
}
.editorTab .active
{
  background: #171717;
}
.tab_box span
{
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 6px;
  display: none;

}
.tab_box img
{
  width: 12px;
  height: 12px;
  float: left;
}
.editorTab .add_box
{
  width: 22px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_box img
{
    width: 15px;
    height: 15px;
  float: left;
}
.saved_state_icon
{
  width: 5px;
    height: 5px;
    background: orange;
    float: left;
    border-radius: 12px;
    margin-right: 6px;
    margin-top: 4px;
}
.draggable
{
  width: 20px;
  height:20px;
  background: black;
  border:1px solid #f2f2f2;
  z-index: 10;
  position: absolute;
  top:0;
  display: none;
}

.area
{
  z-index: 10;
}
.prev_area
{
  z-index: 1;
  display: none;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #000 10px,
      #000 20px
  );
    background-size: cover;
    -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.2s;
}

.file_navigator
{
  width: 17.6%;
  height: 100%;
  float: left;
  overflow: auto;
}
.file_navigator .title
{
  position: relative;
  padding: 0;
    color: white;
    float: left;
    max-height: 100%;
    font-size: 11px;
    font-family: sans-serif;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  width: 100%;
  height:auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
  color:white
}
.file_explorer
{

  height: auto;
  float:left;
  margin-left: 10px;

}



.file_navigator::-webkit-scrollbar {
  width: 8px;
  height:8px;
}
.file_navigator::-webkit-scrollbar-track {
  background: #211f1f;
}
.file_navigator::-webkit-scrollbar-thumb {
  background: #3a3838;
}
.file_navigator::-webkit-scrollbar-thumb:hover {
  background: #171717;
}



.file_explorer .title{
  font-size: 12px;
  text-align: center;
  width: 100%;
  float: left;
  padding: 0;
  margin-top:5px;
}
.list
{
  width: 98%;
  height: 25px;
  color:white;

  margin-top: 3px;
  float: left;
  display: flex;
  align-items: center;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.list .material-icons
{
  font-size: 14px;
  margin-left: 10px;
}
.list txt
{
  margin-left: 10px;
  font-size: 13px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}
